p {
    width: 300px;
    border-top: #000 solid 20px;
    border-right: #00F double 20px;
    border-bottom: #F00 dotted 20px;
    border-left: #0F0 groove 20px;

    /*border-top-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;

    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;

    border-top-color: #000;
    border-right-color: #F00;
    border-bottom-color: #0F0;
    border-left-color: #00F;*/
}