body{
    margin: 0px;
}

div{
    border: 1px solid #000;
    width: 500px;
    margin: 100px;
    margin: auto;
    margin-bottom: 50px;
}


#dv1{

    padding: 50px 0px 150px 200px;
    /*padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 150px;
    paddin-left: 200px;*/
   
}

#dv2{

    padding: 50px;
   
}

#dv3{

    padding: 0px;
   
}