#d1,#d2,#d3,#pa1{
    border: 15px dotted #000;
    padding: 50px;/*0px 100px 50px 10px;*/ /* cima, direita,baixo,esquerda*/
    background-image: url(imagens/marcador.jpg);

}

#d1{
    background-clip: border-box;
}

#d2{
    background-clip: padding-box;
}

#d3{
    background-clip: content-box;
}

#pa1{
    background-clip: padding-box;
}