#d1,#d2 {
    width: 150px;
    height: 150px;
    padding: 100px;
    border: #000 solid 20px;
    padding: 100px;
}

#d1{
    border-radius: 40px;
}

#d2{
    /*border-radius: 0px 50px 0px 50px;/* /*superior edsquerda superior direita inferior direita inferior esquerda*/
    border-radius: 100%;
}